$main-pink-color: #f16d7f;
$main-white-color: #ffffff;
$white-color: #fbfbfb;
$main-grey-color: #6f6e6e;
$light-grey-color: #c4c4c4;
$main-black-color: #222224;
$black-color: #222222;
$site-width: 1140px;
$catalog-width: 848px;
$main-trans-time: 0.2s;
$product-width: 597px;
